In [20]:
import psycopg2
import random
from faker import Faker
from datetime import date

## 1. Data Connection

In [21]:
# Connect to Neon.tech database

conn = psycopg2.connect(
    
    "postgresql://neondb_owner:npg_tc2w7PIlNOKZ@ep-lively-king-a5fh39fw-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
)
cur = conn.cursor()

# Create employees table
cur.execute("""
DROP TABLE IF EXISTS employees;
""")
cur.execute("""
CREATE TABLE employees (
    employee_id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(100),
    start_date DATE,
    salary INTEGER
);
""")
conn.commit()

## populating fake data collection

In [22]:
# Generate fake employee data

fake = Faker()
positions = ["Software Engineer", "Data Analyst", "DevOps Engineer", "IT Manager", "Security Specialist", "QA Tester", "Cloud Architect"]

records = []
for _ in range(50):
    name = fake.name()
    position = random.choice(positions)
    start_year = random.randint(2015, 2024)
    start_date = fake.date_between(
        start_date=date(start_year, 1, 1),
        end_date=date(start_year, 12, 31)
    )
    salary = random.randint(60000, 200000)
    records.append((name, position, start_date, salary))

# Insert data into table
for r in records:
    cur.execute("INSERT INTO employees (name, position, start_date, salary) VALUES (%s, %s, %s, %s);", r)
conn.commit()