In [23]:
import psycopg2
import random
from faker import Faker
from datetime import date
import pandas as pd

## 1. Data Connection

In [24]:
# Connect to Neon.tech database

conn = psycopg2.connect(
    
    "postgresql://neondb_owner:npg_tc2w7PIlNOKZ@ep-lively-king-a5fh39fw-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
)
cur = conn.cursor()

# Create employees table
cur.execute("""
DROP TABLE IF EXISTS employees;
""")
cur.execute("""
CREATE TABLE employees (
    employee_id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(100),
    start_date DATE,
    salary INTEGER
);
""")
conn.commit()

## populating fake data collection

In [25]:
# Generate fake employee data

fake = Faker()
positions = ["Software Engineer", "Data Analyst", "DevOps Engineer", "IT Manager", "Security Specialist", "QA Tester", "Cloud Architect"]

records = []
for _ in range(50):
    name = fake.name()
    position = random.choice(positions)
    start_year = random.randint(2015, 2024)
    start_date = fake.date_between(
        start_date=date(start_year, 1, 1),
        end_date=date(start_year, 12, 31)
    )
    salary = random.randint(60000, 200000)
    records.append((name, position, start_date, salary))

# Insert data into table
for r in records:
    cur.execute("INSERT INTO employees (name, position, start_date, salary) VALUES (%s, %s, %s, %s);", r)
conn.commit()

## 2. Data Cleaning

In [26]:
# Load data into pandas
df = pd.read_sql("SELECT * FROM employees;", conn)
print(df.head())

# Check for missing values
print("\nMissing values:\n", df.isnull().sum())

# Summary info
print("\nInfo:\n")
print(df.info())

# Summary statistics
print("\nStatistics:\n")
print(df.describe())

   employee_id             name           position  start_date  salary
0            1        Troy Hall    Cloud Architect  2019-02-16  178904
1            2    Joshua Powers    DevOps Engineer  2021-08-08  188473
2            3   Michael Juarez       Data Analyst  2023-05-21   76655
3            4  Patricia Molina  Software Engineer  2020-01-18  194723
4            5    Kristin Black          QA Tester  2024-12-20  157349

Missing values:
 employee_id    0
name           0
position       0
start_date     0
salary         0
dtype: int64

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   employee_id  50 non-null     int64
 1   name         50 non-null     object
 2   position     50 non-null     object
 3   start_date   50 non-null     object
 4   salary       50 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.1+ KB
None

Statistics:

       employee_id         salary
count     50.00000      50.000000
mean      25.50000  126082.860000
std       14.57738   41012.360676
min        1.00000   62570.000000
25%       13.25000   86715.250000
50%       25.50000  125905.500000
75%       37.75000  156346.000000
max       50.00000  195392.000000

C:\Users\yogeshkumar\AppData\Local\Temp\ipykernel_716\450135177.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM employees;", conn)